@use "custom" as *;

// component files imports
@use "components/buttons";
@use "components/mixins" as *;

// section files imports
@use "sections/main-content";
@use "sections/navbar";




body {
    background-image: linear-gradient(rgba(0, 0, 0, .9), rgba(0, 0, 0, .9), rgba(0, 0, 0, .9)), url('/images/pexels-lucie-212-min.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
    
    #wrapper {
        width: 100%;
        color: #fff;
    }
}


