@use "../custom" as *;
@use '../components/mixins' as *;


main {
    .container {
        width: 85%;        

            .titles {
                
                h6 {
                    color: $c--tertiary;
                    font-size: .9rem;
                    letter-spacing: .9px;
                    padding-top: 1rem;
                }

                h2 {
                    font-size: 2.5rem;
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                }
                
            }


            .description-and-buttons {
                p {
                    font-family: Poppins;
                    font-size: .88rem;
                    max-width: 57%;
                    width: 59%;
                    color: #c1c1c1e1;
                    letter-spacing: .24px;

                    
                }
        }
        

        .services {            
            .service-box {
                padding: 0 2.4rem;
                width: 31.1%;
                height: 25%;
                border-radius: 1.4%;
                @include blur;
                
                
                .icon {
                    width: 19.4%;
                    background: linear-gradient(to right, rgba(255, 255, 255, 0.055), rgba(255, 255, 255, 0.055));
                    padding: .8rem 0;
                    border-radius: 7%;
                    
                    
                    i {
                        font-size: 1.33rem;
                    }
                }


                .service-content {
                    height: 45%;
                    
                    p {
                        color: #c1c1c1e1;
                        font-size: .8rem;
                        letter-spacing: .4px;
                    }
                }
            }
        }


        .company-logos {
            color: #c1c1c1e0;
            width: 101.2%;
            margin: 0 auto;
            
            &::before {
                content: '';
                display: block;
                width: 100%;
                height: .1px;
                background-color: #58585875;
            }


            &::after {
                content: '';
                display: block;
                width: 100%;
                height: .1px;
                background-color: #58585875;
                margin-bottom: 4rem;
            }

            

            .container {
                width: 100%;

                .row {
                    .logo-container {
                        .forbes {
                            font-family: 'Times New Roman', Times, serif;
                            font-weight: 600;
                        }

                        .github {
                            font-family: Arial, Helvetica, sans-serif;
                            font-family: 'Open Sans';
                        }

                        .google {
                            font-family: Lato;
                        }

                        .microsoft {
                            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                        }

                        .facebook {
                            font-family: Poppins;
                        }
                    }
                }
            }
        }
    }
}
