@use "../custom" as *;
@use '../components/mixins' as *;




nav {
    width: 85%;
    
    .container {
        .navbar-brand {
            color: $c--primary;
            font-family: Arial, Helvetica, sans-serif;
            letter-spacing: .4px;
        }

        
        .navbar-nav {
            a {
                color: #cccccc;
            }

            a:hover {
                color: $c--primary;
            }
        }

        .contact {
            background: transparent;
            width: 8rem;
            height: 2.8rem;
            @include buttonStyling;
            @include blur;

            &:hover {
                @include buttonHover;
                transition: all .3s ease-in;
            }

            
        }
    }
}
    