@use '../custom' as *;
@use '../components/mixins' as *;




/*
    .btn {
        border: 2px solid red;
        width: 8.4rem;
        height: 3rem;
        
    }

*/

.cta-one,
.cta-two {
    background: transparent;
    color: $c--primary;
    width: 10rem;
    @include buttonStyling;
    @include blur;
    height: 2.7rem;
}

.cta-two:hover {
    @include buttonHover;
    transition: all .7s ease-in;
}

.cta-one {
    background-color: $c--secondary;
    margin-right: 1.3rem;
    
    
    &:hover {
        background-color: $c--secondary-dark;
    }
}